<!-- Dùng Property Binding [class] -->
<h1 [class]="success">Đây là đoạn văn bản có class text-success</h1>
<h1 [class]="error">Đây là đoạn văn bản có class text-error</h1>
<h1 [class]="primary">Đây là đoạn văn bản có class text-primary</h1>
<h1 [class]="normal">Đây là đoạn văn bản có class text-normal</h1>
<h1 [ngClass]="multiClass">Đây là đoạn văn bản có nhiều class kết hợp</h1>

<!-- Dùng Interpolation {{}} để binding class -->
<h2 class="{{ success }}">Đây là đoạn văn bản có class text-success</h2>
<h2 class="{{ error }}">Đây là đoạn văn bản có class text-error</h2>
<h2 class="{{ primary }}">Đây là đoạn văn bản có class text-primary</h2>
<h2 class="{{ normal }}">Đây là đoạn văn bản có class text-normal</h2>
<h2 class="{{ complexity }}">Đây là đoạn văn bản có class text-complexity</h2>
