.text-success {
    color: darkgreen;
  }
  
  .text-error {
    color: darkred;
  }
  
  .text-primary {
    color: navy;
  }
  
  .text-normal {
    font-style: italic;
  }
  
  /* Định nghĩa class mới theo yêu cầu */
  .text-complexity {
    font-weight: bold;
    font-style: italic;
    font-family: "Cambria", serif;
    font-size: 18px;
    color: blue;
  }
  